<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LoGo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<a href="#" class="logo">Lo<span>Go</span></a>
		<nav>
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#services" class="active">Services</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#shop">Shop</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#pages">Pages</a></li>
			</ul>
		</nav>
		<ul id="socials">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</header>
	<section id="banner">
		<div id="slider">
			<button id="left"><i class="fa fa-left fa-4x"></i></button>
			<ul>
				<li class="left">
					<h1>The best services 1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repudiandae voluptatem facilis?</p>
					<a href="">Hire us</a>
				</li>
				<li  class="active">
					<h1>The best services 2</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repudiandae voluptatem facilis?</p>
					<a href="">Hire us</a>
				</li>
				<li  class="right">
					<h1>The best services 3</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repudiandae voluptatem facilis?</p>
					<a href="">Hire us</a>
				</li>
				<li>
					<h1>The best services 4</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repudiandae voluptatem facilis?</p>
					<a href="">Hire us</a>
				</li>
				<li>
					<h1>The best services 5</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repudiandae voluptatem facilis?</p>
					<a href="">Hire us</a>
				</li>
			</ul>
			<button id="right"><i class="fa fa-right fa-4x"></i></button>
		</div>
	</section>
	<section id="about">
		<div></div>
		<div>
			<h2>A little about us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis laborum maiores, animi delectus, quod doloremque eveniet laudantium asperiores pariatur nam tempora minus. Totam architecto molestiae dignissimos error facere.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis laborum maiores, animi delectus, quod doloremque eveniet laudantium asperiores pariatur nam tempora minus. Totam architecto molestiae dignissimos error facere.</p>
			<a href="#">Read more details</a>
		</div>
	</section>
	<section id="services">
		<div class="title">
			<h1>
				<span>Our services</span>
			</h1>
		</div>
		<div id="services_slider">
			<div class="wrap">
				<ul>
					<li>
						<i class="fa fa-cart fa-5x"></i>
						<h3>Web development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis repellat laboriosam fugit.</p>
						<a href="">More details</a>
					</li>
					<li>
						<i class="fa fa-cart fa-5x"></i>
						<h3>Web development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit possimus blanditiis, animi?</p>
						<a href="">More details</a>
					</li>
					<li>
						<i class="fa fa-cart fa-5x"></i>
						<h3>Web development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad sit iure veniam.</p>
						<a href="">More details</a>
					</li>
					<li>
						<i class="fa fa-cart fa-5x"></i>
						<h3>Web development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde labore cumque eius.</p>
						<a href="">More details</a>
					</li>
					<li>
						<i class="fa fa-cart fa-5x"></i>
						<h3>Web development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquam, accusamus maxime.</p>
						<a href="">More details</a>
					</li>
					<li>
						<i class="fa fa-cart fa-5x"></i>
						<h3>Web development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, itaque doloremque nesciunt.</p>
						<a href="">More details</a>
					</li>
				</ul>
			</div>
			<div class="btn_rul">
				<button id="services_slider_left"><i class="fa fa-left"></i></button>
				<button id="services_slider_right"><i class="fa fa-right"></i></button>
			</div>
		</div>
	</section>
	<section id="feedback">
		<div class="title">
			<h1>
				<span>Feedback</span>
			</h1>
		</div>
		<div id="mans">
			<div class="quotes">
				<ul>
					<li>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laboriosam ad necessitatibus, laudantium earum maiores!</p>
					</li>
					<li>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laboriosam ad necessitatibus, laudantium earum maiores!</p>
					</li>
					<li>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laboriosam ad necessitatibus, laudantium earum maiores!</p>
					</li>
					<li>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laboriosam ad necessitatibus, laudantium earum maiores!</p>
					</li>
				</ul>
				<div class="quotes_rule">
					<button id="qu_left"><i class="fa fa-left"></i></button>
					<div class="count"><span>1</span>/10</div>
					<button id="qu_right"><i class="fa fa-right"></i></button>
				</div>
			</div>
			<div class="mans_wrap">
				<div class="mans_elem">
					<img src="images/men_1.jpg" alt="">
					<span class="stat">01</span>
					<span class="name">
						Imrah Khan
						<i>CEO, Vesso</i>
					</span>
				</div>
				<div class="mans_elem">
					<img src="images/men_2.jpg" alt="">
					<span class="stat">01</span>
					<span class="name">
						Imrah Khan
						<i>CEO, Vesso</i>
					</span>
				</div>
				<div class="mans_elem">
					<img src="images/men_3.jpg" alt="">
					<span class="stat">01</span>
					<span class="name">
						Imrah Khan
						<i>CEO, Vesso</i>
					</span>
				</div>
			</div>
		</div>
	</section>
	<section id="clients">
		<div class="title">
			<h1>
				<span>Clients</span>
			</h1>
		</div>
		<ul id="clients_list">
			<li><a href=""><img src="images/c_1.png" alt=""></a></li>
			<li><a href=""><img src="images/c_2.png" alt=""></a></li>
			<li><a href=""><img src="images/c_3.png" alt=""></a></li>
			<li><a href=""><img src="images/c_4.png" alt=""></a></li>
			<li><a href=""><img src="images/c_5.png" alt=""></a></li>
			<li><a href=""><img src="images/c_6.png" alt=""></a></li>
			<li><a href=""><img src="images/c_7.png" alt=""></a></li>
			<li><a href=""><img src="images/c_8.png" alt=""></a></li>
		</ul>
	</section>
	<section id="contact">
		<div class="quote">
			<h3>Any Queries | Get a quote</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dolorem.</p>
		</div>
		<div class="form_wrap">
			<form action="">
				<div class="form_group">
					<input type="text" id="name" name="name">
					<label for="name">Your name</label>
				</div>
				<div class="form_group">
					<input type="tel" id="tel" name="tel">
					<label for="tel">Your number</label>
				</div>
				<input type="submit" value="Get a call">
			</form>
		</div>
	</section>
	<footer>
		<div>
			<div>
				<h4>Some Title</h4>
				<ul>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
				</ul>
			</div>
			<div>
				<h4>Some Title</h4>
				<ul>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
				</ul>
			</div>
			<div>
				<h4>Some Title</h4>
				<ul>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
					<li><a href="">Some Text</a></li>
				</ul>
			</div>
		</div>
		<div>
			<div class="subscribe">
				<form action="">
					<div class="form_group">
						<input type="email">
						<label for="">Your email</label>
					</div>
					<div class="form_group">
						<input type="submit" value="Subscribe">
					</div>
				</form>
				<ul class="social">
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="javascript/script.js"></script>
</body>
</html>