<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Creativia</title>
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/slider.css">
	<link rel="stylesheet" href="css/navigation.css">
	<link rel="stylesheet" href="css/accordion.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="row justify-content-end">
				<div class="logo">
					<span></span><span></span>
					<a href="">Creativia</a>
				</div>
				<nav>
					<button class="nav__rule">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<ul class="nav__body">
						<li><a href="#home" class="active">Home</a></li>
						<li><a href="#about">About us</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#clients">Clients</a></li>
						<li><a href="#team">Team</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<section id="banner">
			<div class="slider" id="slider">
				<span class="slider_left" data-rule="left">&#60</span>
				<ul class="slider_body" data-rule="body">
					<li class="slider_items" data-item="0">
						<h3><span>Why</span> creativia? 1</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="1">
						<h3><span>Why</span> creativia? 2</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="2">
						<h3><span>Why</span> creativia? 3</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="3">
						<h3><span>Why</span> creativia? 4</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="4">
						<h3><span>Why</span> creativia? 5</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="5">
						<h3><span>Why</span> creativia? 6</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="6">
						<h3><span>Why</span> creativia? 7</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="7">
						<h3><span>Why</span> creativia? 8</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="8">
						<h3><span>Why</span> creativia? 9</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="9">
						<h3><span>Why</span> creativia? 10</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="10">
						<h3><span>Why</span> creativia? 11</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
					<li class="slider_items" data-item="11">
						<h3><span>Why</span> creativia? 12</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus alias illum aut dolore voluptatibus placeat, laboriosam qui, mollitia animi laborum molestias quod facere. Cum molestias sapiente accusamus in consequatur laudantium inventore at veniam quibusdam amet quisquam odio error officiis, totam earum non dolorem cumque, beatae repellendus.</p>
						<div class="btn">
							<button>Features</button>
							<button>Free PSD</button>
						</div>
					</li>
				</ul>
				<span class="slider_right" data-rule="right">&#62</span>
			</div>
		</section>
		<section id="about">
			<div class="title">
				<h3>About <span>creativia</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container">
				<div class="row delimeter">
					<div class="col-lg-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ipsam, ipsum dolorum earum impedit id eos cumque doloribus, perferendis maxime quasi soluta. Culpa sapiente beatae, quaerat accusamus quibusdam doloribus ex commodi velit, totam necessitatibus nulla molestiae dolores ullam non provident.</p>
						<ul class="accordion">
							<li class="accordion_items active">
								<a class="accordion_btn"><span><i class="minus">-</i><i class="plus">+</i></span> Hwo is creativia</a>
								<p class="accordion_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, rem, modi! Eveniet nam soluta laboriosam consequatur doloremque incidunt. Molestiae, debitis.</p>
							</li>
							<li class="accordion_items">
								<a class="accordion_btn"><span><i class="minus">-</i><i class="plus">+</i></span> Hwo is creativia</a>
								<p class="accordion_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, rem, modi! Eveniet nam soluta laboriosam consequatur doloremque incidunt. Molestiae, debitis.</p>
							</li>
							<li class="accordion_items">
								<a class="accordion_btn"><span><i class="minus">-</i><i class="plus">+</i></span> Hwo is creativia</a>
								<p class="accordion_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, rem, modi! Eveniet nam soluta laboriosam consequatur doloremque incidunt. Molestiae, debitis.</p>
							</li>
						</ul>
					</div>
					<div class="col-lg-6 align-self-stretch">
						<div class="img_wrap">
							<img src="images/polygon_2.png">
							<img src="images/polygon_1.png">
							<img src="images/polygon_3.png">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 skills">
						<span class="icons"><i>L</i></span>
						<h4>Flat design</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ex culpa aliquam debitis, impedit nobis.</p>
					</div>
					<div class="col-md-3 col-sm-6 skills">
						<span class="icons"><i>L</i></span>
						<h4>Flat design</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ex culpa aliquam debitis, impedit nobis.</p>
					</div>
					<div class="col-md-3 col-sm-6 skills">
						<span class="icons"><i>L</i></span>
						<h4>Flat design</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ex culpa aliquam debitis, impedit nobis.</p>
					</div>
					<div class="col-md-3 col-sm-6 skills">
						<span class="icons"><i>L</i></span>
						<h4>Flat design</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ex culpa aliquam debitis, impedit nobis.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="portfolio" class="delimeter">
			<h3>Portfolio</h3>
			<div class="flat_sort">
				<ul class="check">
					<li class="active" data-type="all">All</li>
					<li data-type="illustration">Illustration</li>
					<li data-type="digital">Digital art</li>
					<li data-type="web_design">Web design</li>
				</ul>
				<div class="flats">
					<div class="flat flat-b" data-type="illustration">
						<img src="images/p_1.png" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
					<div class="flat" data-type="digital">
						<img src="images/p_2.jpg" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
					<div class="flat flat-b" data-type="digital illustration">
						<img src="images/p_3.jpg" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
					<div class="flat" data-type="web_design digital">
						<img src="images/p_4.jpg" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
					<div class="flat flat-b" data-type="digital illustration">
						<img src="images/p_5.jpg" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
					<div class="flat" data-type="web_design">
						<img src="images/p_6.jpg" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
					<div class="flat flat-b" data-type="web_design illustration">
						<img src="images/p_7.jpg" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
					<div class="flat" data-type="web_design digital">
						<img src="images/p_8.jpg" alt="">
						<figcaption><i>+</i><span>Design name</span></figcaption>
					</div>
				</div>
			</div>
		</section>
		<section id="product">
			<div class="title">
				<h3>Our <span>product features</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-12 align-self-center">
						<ul class="features left">
							<li class="active"><a href="">Unlim color options<i>k</i></a></li>
							<li><a href="">Unlim color options<i>k</i></a></li>
							<li><a href="">Unlim color options<i>k</i></a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-sm-12">
						<div class="telephone_wrap">
							<div class="telephone">
								<div class="telephone_camera"></div>
								<div class="telephone_screen"></div>
							</div>
							<a href="/" class="button">Free PSD</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-12 align-self-center">
						<ul class="features right">
							<li><a href=""><i>k</i> Unlim color options</a></li>
							<li><a href=""><i>k</i> Unlim color options</a></li>
							<li><a href=""><i>k</i> Unlim color options</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="clients">
			<div class="title">
				<h3>Our <span>clients</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container delimeter">
				<div class="row">
					<div class="col-md-6">
						<div class="clients">
							<ul class="clients_list">
								<li class="clients_item active">
									<h3>Happy clients say</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facere odit ea eaque omnis molestiae!</p>
									<img src="images/client_port.png">
								</li>
								<li class="clients_item">
									<h3>Happy clients say</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facere odit ea eaque omnis molestiae!</p>
									<img src="images/client_port.png">
								</li>
								<li class="clients_item">
									<h3>Happy clients say</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facere odit ea eaque omnis molestiae!</p>
									<img src="images/client_port.png">
								</li>
							</ul>
							<div class="clients_indicators">
								<span class="active" data-num="0"></span>
								<span data-num="1"></span>
								<span data-num="2"></span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="container jobs">
							<div class="row align-content-stretch">
								<div class="col-6 align-self-stretch">
									<p>Grapher</p>
								</div>
								<div class="col-6 align-self-stretch">
									<p>Grapher</p>
								</div>
								<div class="col-6 align-self-stretch">
									<p>Grapher</p>
								</div>
								<div class="col-6 align-self-stretch">
									<p>Grapher</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="team">
			<div class="title">
				<h3>Our <span>team</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container delimeter">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="team">
							<div class="foto">
								<img src="images/team_1.jpg">
								<ul class="socials">
									<li><a href=""><i>F</i></a></li>
									<li><a href=""><i>T</i></a></li>
									<li><a href=""><i>G</i></a></li>
								</ul>
							</div>
							<h4>Bruce Wayne</h4>
							<p>Web designer</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team">
							<div class="foto">
								<img src="images/team_2.jpg">
								<ul class="socials">
									<li><a href=""><i>F</i></a></li>
									<li><a href=""><i>T</i></a></li>
									<li><a href=""><i>G</i></a></li>
								</ul>
							</div>
							<h4>Bruce Wayne</h4>
							<p>Web designer</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team">
							<div class="foto">
								<img src="images/team_3.jpg">
								<ul class="socials">
									<li><a href=""><i>F</i></a></li>
									<li><a href=""><i>T</i></a></li>
									<li><a href=""><i>G</i></a></li>
								</ul>
							</div>
							<h4>Bruce Wayne</h4>
							<p>Web designer</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team">
							<div class="foto">
								<img src="images/team_1.jpg">
								<ul class="socials">
									<li><a href=""><i>F</i></a></li>
									<li><a href=""><i>T</i></a></li>
									<li><a href=""><i>G</i></a></li>
								</ul>
							</div>
							<h4>Bruce Wayne</h4>
							<p>Web designer</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="skills">
			<div class="title">
				<h3>Our <span>skills</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="percent_br sk_1">
							<div class="percent">
								<h1><span>90</span>%</h1>
							</div>
						</div>
						<h3>Photoshop</h3>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="percent_br sk_2">
							<div class="percent">
								<h1><span>80</span>%</h1>
							</div>
						</div>
						<h3>Photoshop</h3>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="percent_br sk_3">
							<div class="percent">
								<h1><span>70</span>%</h1>
							</div>
						</div>
						<h3>Photoshop</h3>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="percent_br sk_4">
							<div class="percent">
								<h1><span>90</span>%</h1>
							</div>
						</div>
						<h3>Photoshop</h3>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="services">
			<div class="title">
				<h3>Our <span>skills</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container delimeter">
				<div class="row">
					<div class="col-sm-6 ser_titles">
						<h4><span>H</span> Development</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni tenetur iste, aliquam laboriosam eum culpa eos rem quasi. Nisi harum dolor dolorum ducimus quam at.</p>
					</div>
					<div class="col-sm-6 ser_titles">
						<h4><span>H</span> Development</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni tenetur iste, aliquam laboriosam eum culpa eos rem quasi. Nisi harum dolor dolorum ducimus quam at.</p>
					</div>
					<div class="col-sm-6 ser_titles">
						<h4><span>H</span> Development</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni tenetur iste, aliquam laboriosam eum culpa eos rem quasi. Nisi harum dolor dolorum ducimus quam at.</p>
					</div>
					<div class="col-sm-6 ser_titles">
						<h4><span>H</span> Development</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni tenetur iste, aliquam laboriosam eum culpa eos rem quasi. Nisi harum dolor dolorum ducimus quam at.</p>
					</div>
					<div class="col-sm-6 ser_titles">
						<h4><span>H</span> Development</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni tenetur iste, aliquam laboriosam eum culpa eos rem quasi. Nisi harum dolor dolorum ducimus quam at.</p>
					</div>
					<div class="col-sm-6 ser_titles">
						<h4><span>H</span> Development</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni tenetur iste, aliquam laboriosam eum culpa eos rem quasi. Nisi harum dolor dolorum ducimus quam at.</p>
					</div>
				</div>
			</div>
		</section>
		<section id="bestseller">
			<div class="title">
				<h3>Our <span>skills</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="price">
							<p class="price_head">Bestseller</p>
							<span class="price_c">199 $ <sub>year</sub></span>
							<ul>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
							</ul>
							<p class="price_foot">Bestseller</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="price">
							<p class="price_head">Bestseller</p>
							<span class="price_c">199 $ <sub>year</sub></span>
							<ul>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
							</ul>
							<p class="price_foot">Bestseller</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="price">
							<p class="price_head">Bestseller</p>
							<span class="price_c">199 $ <sub>year</sub></span>
							<ul>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
							</ul>
							<p class="price_foot">Bestseller</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="price">
							<p class="price_head">Bestseller</p>
							<span class="price_c">199 $ <sub>year</sub></span>
							<ul>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
								<li>Some Text</li>
							</ul>
							<p class="price_foot">Bestseller</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="twit delimeter">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit placeat fuga recusandae quod blanditiis tempora quo iure perspiciatis, architecto voluptatum voluptatibus dolor nihil animi modi nisi.</p>
		</div>
		<section id="blog">
			<div class="title">
				<h3>Our <span>blog</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="container">
				<div class="row">
					<div class="blog">
						<div class="container">
							<div class="row">
								<div class="col-sm-4">
									<img src="images/p_9.jpg">
								</div>
								<div class="col-sm-8">
									<h5>Lorem ipsum dolor sit amet.</h5>
									<div class="stats">
										<span class="rule">admin</span>
										<span class="comments">1205</span>
										<span class="views">1205</span>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolores ipsam ducimus natus, reiciendis, inventore blanditiis! Quia fugit incidunt quisquam inventore, ipsam culpa voluptatibus repellendus?</p>
									<button class="v_more">View more</button>
								</div>
							</div>
						</div>
					</div>
					<div class="blog">
						<div class="container">
							<div class="row">
								<div class="col-sm-4">
									<img src="images/p_10.jpg">
								</div>
								<div class="col-sm-8">
									<h5>Lorem ipsum dolor sit amet.</h5>
									<div class="stats">
										<span class="rule">admin</span>
										<span class="comments">1205</span>
										<span class="views">1205</span>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolores ipsam ducimus natus, reiciendis, inventore blanditiis! Quia fugit incidunt quisquam inventore, ipsam culpa voluptatibus repellendus?</p>
									<button class="v_more">View more</button>
								</div>
							</div>
						</div>
					</div>
					<button class="more">&#94</button>
				</div>
			</div>
		</section>
		<div class="follows">
			<div class="title">
				<h3>Follow <span>creativia</span></h3>
			</div>
			<ul>
				<li><span class="icons"><i>F</i></span><span>20000</span></li>
				<li><span class="icons"><i>T</i></span><span>99000</span></li>
				<li><span class="icons"><i>L</i></span><span>5000</span></li>
				<li><span class="icons"><i>G</i></span><span>200</span></li>
			</ul>
			<div class="delimeter"></div>
		</div>
		<section id="contact">
			<div class="title">
				<h3>Fine us <span>here</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Quisquam, fugiat quod nulla dolorem illo cupiditate.</p>
			</div>
			<div class="maps_wrap">
				<div id="map"></div>
				<form action="">
					<h3 class="form_title">Send Message</h3>
					<div class="form_group">
						<input type="text" id="name" name="name">
						<label for="name">Name</label>
					</div>
					<div class="form_group">
						<input type="email" id="email" name="email">
						<label for="email">Email</label>
					</div>
					<div class="form_group">
						<input type="text" id="subject" name="subject">
						<label for="subject">Subject</label>
					</div>
					<textarea name="comment" id="comment" rows="3"></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</section>
		<footer>
			<span class="copyright">Design by Amr Srour</span>
			<a href="/" class="logo">Creativia</a>
		</footer>
	</main>
	<script src="javascript/main.js"></script>
	<script src="javascript/slider.js"></script>
	<script src="javascript/navigation.js"></script>
	<script src="javascript/accordion.js"></script>
	<script src="javascript/sort_grid.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJj8i9zEU4Kg86PRavcduiyB0CL1SQGuA&callback=initMap"></script>
	<script>
		function initMap() {
			var myOptions = {
				center: new google.maps.LatLng(51.169392, 71.449074),
				zoom: 18
			};
			var map = new google.maps.Map(document.getElementById("map"), myOptions);
		}
    </script>
</body>
</html>