<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mercury</title>
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="row justify-content-between">
				<div class="logo"><a href="#"></a></div>
				<nav class="align-self-center">
					<ul>
						<li><a href="features">Features</a></li>
						<li><a href="pricing">Pricing</a></li>
						<li><a href="blog">Blog</a></li>
						<li><a href="contact">Contact</a></li>
						<li><a href="login" class="active">Login</a></li>
					</ul>
				</nav>
				<button id="nav-rule">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
		</div>
	</header>
	<section id="banner">
		<h1>Grow your business with merkury</h1>
		<p>Your partner in crime!</p>
		<a href="#" class="btn-started">Get started</a>
		<img src="images/dashboard.jpg">
	</section>
	<section id="features">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i></i>
					<h4>Manage your workflow</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo error temporibus quos!</p>
					<button>See more</button>
				</div>
				<div class="col-md-4">
					<i></i>
					<h4>Manage your workflow</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo error temporibus quos!</p>
					<button>See more</button>
				</div>
				<div class="col-md-4">
					<i></i>
					<h4>Manage your workflow</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo error temporibus quos!</p>
					<button>See more</button>
				</div>
			</div>
		</div>
	</section>
	<section id="features-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="col-md-8">
						<h1>All you need is a browser</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur error atque ipsum, inventore deserunt eaque!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis error sunt aut!</p>
						<ul>
							<li>
								<i class="fa fa-check"></i>
								<p>Lorem ipsum dolor sit amet.</p>
							</li>
							<li>
								<i class="fa fa-check"></i>
								<p>Lorem ipsum dolor sit amet.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<img src="images/screen.png">
				</div>
			</div>
		</div>
	</section>
	<section id="features-3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-6">
							<h4>In Progres <i>(3)</i></h4>
							<div class="check">
								<div class="checkin">
									<div class="check-logo"><i>N</i></div>
									<div class="check-title">
										<p>Lorem ipsum dolor sit amet.</p>
										<i><i class="fa fa-clock"></i> 1 day left</i>
									</div>
									<button class="check-btn">
										<i></i>
										<i></i>
										<i></i>
									</button>
								</div>
							</div>
							<div class="check"></div>
						</div>
						<div class="col-sm-6">
							<h4>Completed <i>(2)</i></h4>
							<div class="check">
								<div class="checkin">
									<div class="check-logo"><i>N</i></div>
									<div class="check-title">
										<p>Lorem ipsum dolor sit amet.</p>
										<i><i class="fa fa-clock"></i> 1 day left</i>
									</div>
									<button class="check-btn">
										<i></i>
										<i></i>
										<i></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 offset-md-1">
					<div class="carousel">
						<ul class="carousel-body">
							<li>
								<h1>Drag & Drop</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore molestias dolor.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore molestias dolor.</p>
							</li>
						</ul>
						<div class="carousel-btns">
							<button class="left"></button>
							<button class="right"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="template">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h1>Powerfull PSD template</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi perspiciatis error, modi impedit magni! Repudiandae consequatur, facere consectetur.</p>
				</div>
			</div>
			<div class="row screen-mockup">
				<img src="images/screen-mockup.png">
				<div class="col-md-6 align-self-start">
					<h4>Clean & madern layout</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aliquid sint fugit.</p>
				</div>
				<div class="wh-100"></div>
				<div class="col-md-6 offset-md-6 align-self-end">
					<h4>Clean & madern layout</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aliquid sint fugit.</p>
				</div>
			</div>
			<h1>Check our pricing!</h1>
			<div class="row">
				<div class="col-md-4">
					<div class="pricing">
						<h4>Bronze plan</h4>
						<div class="price">
							<i>$</i> <i>19 <sub>/mon</sub></i>
						</div>
						<ul>
							<li><i class="fa fa-check"></i> Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i> Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i> Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i> Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i> Lorem ipsum dolor sit.</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<h4>Bronze plan</h4>
						<div class="price">
							<i>$</i><i>19 <sub>/mon</sub></i>
						</div>
						<ul>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing">
						<h4>Bronze plan</h4>
						<div class="price">
							<i>$</i><i>19 <sub>/mon</sub></i>
						</div>
						<ul>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
							<li><i class="fa fa-check"></i>Lorem ipsum dolor sit.</li>
						</ul>
					</div>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quidem perferendis, labore esse, repellendus et.</p>
		</div>
		<a href="#" class="btn-started">Join now!</a>
	</section>
	<footer>
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<p>Lorem ipsum dolor sit amet.</p>
				<ul>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
					<li>
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="javascript/script.js"></script>
</body>
</html>