body {
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.667;

    text-align: center;

    color: rgb(132, 146, 175);
    background-color: #fff;
}
h1 {
    margin-bottom: 54px;

    font-size: 35px;
    font-weight: lighter;
    line-height: 1;

    color: rgb(14, 26, 53);
}
h4 {
    margin-bottom: 24px;

    font-size: 18px;
    font-weight: bold;

    color: rgb(14, 26, 53);
}
a,
a:hover,
a:active {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;

    list-style: none;
}
header {
    position: absolute;
    z-index: 10;

    width: 100%;
    padding-top: 32px;
    padding-bottom: 12px;
}
header .logo a {
    display: block;
    width: 233px;
    height: 65px;

    background: url(../images/logo.png);
}
#nav-rule {
    display: none;
}
header nav li {
    display: inline-block;
}
header nav li a {
    padding: 8px 25px;

    font-size: 12px;

    cursor: pointer;
    -webkit-transition: .2s;
       -moz-transition: .2s;
        -ms-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: #fff;
    border: 1px solid transparent;
    -webkit-border-radius: 22px;
            border-radius: 22px;
}
header nav li a:hover,
header nav li a.active {
    color: #5584ff;
    border: 1px solid #5584ff;
}
#banner {
    position: relative;

    height: 155vh;
    padding-top: 280px;

    background: url(../images/bg-graph.png);
    background-color: #0e1a35;
    background-position: center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#banner h1 {
    margin-bottom: 30px;

    color: #fff;
}
#banner p {
    margin-bottom: 84px;

    font-size: 24px;

    color: rgb(132, 146, 175);
}
.btn-started {
    display: inline-block;
    padding: 18px 56px;

    font-size: 12px;
    font-weight: bold;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    background-color: #5584ff;
}
.btn-started:hover {
    color: #fff;
}

#banner img {
    position: absolute;
    bottom: -122px;
    left: 50%;

    height: auto;
    max-width: 50%;

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);

    -webkit-box-shadow: 0 0 50px 5px #274790;
            box-shadow: 0 0 50px 5px #274790;
}
#features {
    padding-top: 220px;
    padding-bottom: 60px;
}
#features .col-md-4 {
    padding: 24px 42px;
}
#features i {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 45px;

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#features .col-md-4:nth-child(1) i {
    background-image: url(../images/icon-1.png);
}
#features .col-md-4:nth-child(2) i {
    background-image: url(../images/icon-2.png);
}
#features .col-md-4:nth-child(3) i {
    background-image: url(../images/icon-3.png);
}
#features p {
    margin-bottom: 45px;
}
#features button {
    width: 252px;
    height: 52px;

    font-size: 12px;
    font-weight: bold;
    line-height: 52px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: rgb(14, 26, 53);
    border: 1px solid #dadee7;
    -webkit-border-radius: 26px;
            border-radius: 26px;
    outline-style: none;
    background: transparent;
}
#features-2 {
    padding-top: 90px;
    padding-bottom: 90px;

    text-align: left;

    background-color: #f9f9fb;
}
#features-2 .col-md-6:nth-child(1) {
    display: flex;

    -webkit-justify-content: flex-end;
            justify-content: flex-end;
}
#features-2 p {
    margin-bottom: 38px;
}
#features-2 li {
    margin-bottom: 28px;

    vertical-align: baseline;

    color: #5584ff;
}
#features-2 li i {
    float: left;
    margin-right: 12px;
}
#features-2 img {
    width: 100%;
    height: auto;
}
#features-3 {
    padding-top: 130px;
    padding-bottom: 130px;

    text-align: left;

    background: url(../images/bg-graph.png);
    background-color: #0e1a35;
    background-position: center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#features-3 h4 {
    margin-bottom: 28px;

    color: #fff;
}
#features-3 .col-sm-6:nth-child(1) h4:after {
    float: right;

    font-size: 16px;
    font-weight: bold;

    content: ">";

    color: #8492af;
}
#features-3 h4 i {
    color: #8492af;
}
#features-3 .check {
    position: relative;

    width: 100%;
    height: 96px;
    margin-bottom: 20px;

    cursor: pointer;
}
#features-3 .check:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    font-size: 14px;
    font-weight: bold;
    line-height: 96px;

    content: "Drop here";
    text-align: center;
    vertical-align: middle;

    opacity: 0;
    color: #8492af;
    border: 1px dashed #8492af;
}
#features-3 .check:hover:before {
    opacity: 1;
}
#features-3 .check .checkin {
    position: relative;
    z-index: 2;

    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 45px;

    background: #fff;
}
#features-3 .check .checkin .check-logo {
    padding-left: 15px;
}
#features-3 .check .checkin .check-logo {
    display: flex;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
#features-3 .check .checkin .check-logo i {
    display: inline-block;
    width: 25px;
    height: 25px;

    line-height: 25px;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #5584ff;
}
#features-3 .check .checkin .check-title {
    display: flex;
    padding: 12px;
            flex-direction: column;

    font-size: 12px;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
}
#features-3 .check .checkin .check-title p {
    margin-bottom: 5px;

    color: #ccc;
}
#features-3 .check .checkin .check-btn {
    position: absolute;
    top: 0;
    right: 0;

    display: inline-flex;
    width: 45px;
    height: 100%;
            flex-direction: column;

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;

    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
}
#features-3 .check .checkin .check-btn i {
    display: block;
    width: 5px;
    height: 5px;
    margin-bottom: 5px;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #c0c0c0;
}
#features-3 .carousel h1 {
    margin-bottom: 25px;

    color: #fff;
}
#features-3 .carousel ul {
    position: relative;

    width: 100%;
    height: 100%;
    margin-bottom: 25px;
}
#features-3 .carousel .carousel-btns button {
    position: relative;

    width: 40px;
    height: 40px;
    margin-right: 18px;

    line-height: 40px;

    text-align: center;
    vertical-align: middle;

    border: 1px solid #a5aec3;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    outline-style: none;
    background: transparent;
}
#features-3 .carousel .carousel-btns button:after {
    position: relative;

    display: inline-block;

    content: "";

    border: 6px solid transparent;
}
#features-3 .carousel .carousel-btns button.left:after {
    left: -4px;

    border-right: 6px solid #a5aec3;
}
#features-3 .carousel .carousel-btns button.right:after {
    right: -4px;

    border-left: 6px solid #a5aec3;
}
#template {
    padding-top: 97px;
    padding-bottom: 97px;

    background-color: #f6f7fa;
}
#template h1 {
    margin-bottom: 25px;
}
#template p {
    margin-bottom: 37px;
}
#template .screen-mockup {
    position: relative;

    padding-top: 25px;
    padding-bottom: 25px;

    text-align: left;
}
#template .screen-mockup img {
    position: absolute;
    top: 5px;
    left: 50%;

    width: 90%;
    height: auto;
    max-width: 60%;

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
#template .screen-mockup div {
    z-index: 1;

    margin-top: 20px;
    margin-bottom: 60px;
}
#template .screen-mockup h4 {
    position: relative;

    border-bottom: 1px solid #5584ff;
}
#template .screen-mockup h4:after {
    position: absolute;
    bottom: -10px;

    width: 20px;
    height: 20px;

    content: "";

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #5584ff;
    -webkit-box-shadow: 0 0 5px 5px rgba(85, 132, 255, .5);
            box-shadow: 0 0 5px 5px rgba(85, 132, 255, .5);
}
#template .screen-mockup .col-md-6:nth-child(2) h4:after {
    right: -10px;
}
#template .screen-mockup .col-md-6:last-child h4:after {
    left: -10px;
}
#template .screen-mockup p {
    max-width: 210px;
}
#template .screen-mockup .col-md-6:last-child {
    text-align: right;
}
#template .screen-mockup .col-md-6:last-child p {
    float: right;
}
#template div > h1 {
    margin-bottom: 45px;
}
#template .pricing {
    width: 80%;
    padding: 18px;
    margin: 0 auto;
    margin-bottom: 68px;

    -webkit-box-shadow: 0 0 30px 5px rgba(60, 60, 60, .2);
            box-shadow: 0 0 30px 5px rgba(60, 60, 60, .2);
}
#template .pricing h4 {
    text-transform: uppercase;
}
#template .pricing .price {
    margin-bottom: 25px;

    font-size: 26px;
    font-style: normal;
    font-weight: bold;

    color: #020202;
}
footer {
    padding-top: 34px;
    padding-bottom: 34px;

    color: #8492af;
    background-color: #0e1a35;
}
footer p {
    margin-bottom: 0;
}
footer li {
    display: inline-block;
}
footer li a {
    display: block;
    padding: 6px 12px;

    text-align: center;

    color: inherit;
}
footer li a:hover {
    color: inherit;
}
footer li li a {
    padding: 3px 6px;
}

@media (max-width: 784px) {
    #nav-rule {
        position: absolute;
        top: 25px;
        right: 25px;

        display: flex;
        width: 34px;
        height: 28px;
                flex-direction: column;

        cursor: pointer;

        border: 1px solid #f0f0f0;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        outline-style: none;
        background: transparent;

        -webkit-align-items: center;
                align-items: center;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
        -webkit-justify-content: center;
                justify-content: center;
    }
    #nav-rule span {
        display: block;
        width: 15px;
        height: 3px;
        margin-bottom: 1px;

        background: #f0f0f0;
    }
    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 15;

        width: 100%;
        height: 0;
        overflow: hidden;

        -webkit-transition: .3s;
           -moz-transition: .3s;
            -ms-transition: .3s;
             -o-transition: .3s;
                transition: .3s;
    }
    header nav.show {
        height: auto;
    }
    header nav ul {
        width: 100%;
    }
    header nav ul li {
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }
    header nav ul li a {
        display: block;
        width: 100%;
        height: 32px;

        border: none;
        border-bottom: 1px solid #fff;
        -webkit-border-radius: none;
                border-radius: none;
        background: rgba(0, 0, 0, .6);
    }
    header nav li a:hover,
    header nav li a.active {
        color: #5584ff;
        border: none;
        border-bottom: 1px solid #5584ff;
    }
}
