<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template</title>
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header><a href="#" class="logo">Tourism.</a></header>
	<section id="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1><span>Explore the</span></br> deep forest</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rem est sequi deleniti eveniet nihil quos voluptas inventore, in harum eaque quasi perspiciatis! Quas, libero.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="gallery">
		<div class="container">
			<div class="row align-items-stretch">
				<div class="col-md-9">
					<div class="text">
						<h2>Gallery</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quaerat libero in sed fugit veniam suscipit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quaerat libero in sed fugit veniam suscipit!</p>
					</div>
					<div class="gall">
						<div class="gall_1">
							<div class="gall_1_top">
								<img src="images/gal1.jpg" alt="">
							</div>
							<div class="gall_1_bottom">
								<img src="images/gal2.jpg" alt="">
							</div>
						</div>
						<div class="gall_2">
							<div class="gall_2_top">
								<img src="images/gal3.jpg" alt="">
							</div>
							<div class="gall_2_bottom">
								<div class="gall_2_bottom_left">
									<div class="gall_2_bottom_left_top">
										<img src="images/gal4.jpg" alt="">
									</div>
									<div class="gall_2_bottom_left_bottom">
										<img src="images/gal5.jpg" alt="">
									</div>
								</div>
								<div class="gall_2_bottom_right">
									<img src="images/gal6.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-xs-none">
					<img src="images/starway.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<section id="deliter">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-8">
					<a href="#" class="btn">Lorem ipsum</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veritatis cum, aliquid odit sed consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, molestiae. Repudiandae impedit perspiciatis labore provident laudantium, aperiam pariatur debitis, totam ab dolores nostrum. Repellendus, tempora.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="statics">
		<h2>Statics</h2>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Did you know?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius voluptatum natus quia non dolores, officia sunt unde libero adipisci tempora quae perspiciatis, magnam vero laborum cupiditate alias. Quis doloribus rem earum temporibus quia quaerat consequuntur nulla ab quas velit error, provident, iste. Odit, perspiciatis, quis.</p>
				</div>
				<div class="counter">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<h3>1234</h3>
								<p>Lorem ipsum</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<h3>1234</h3>
								<p>Lorem ipsum</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<h3>1234</h3>
								<p>Lorem ipsum</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<h3>1234</h3>
								<p>Lorem ipsum</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-8">
					<a href="#" class="btn">Lorem ipsum</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veritatis cum, aliquid odit sed consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, molestiae. Repudiandae impedit perspiciatis labore provident laudantium, aperiam pariatur debitis, totam ab dolores nostrum. Repellendus, tempora.</p>
					<video src="https://www.youtube.com/watch?v=ELKbtFljucQ&list=RDELKbtFljucQ&start_radio=1"></video>
				</div>
			</div>
		</div>
		<a href="#" class="logo">Tourism.</a>
	</footer>
	<script src="javascript/script.js"></script>
</body>
</html>