<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blow</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<a href="#" id="logo">Blow</a>
		<button id="nav-rule">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<nav>
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Work</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<section id="banner">
		<a href="#" id="explore_btn">Paint spiral</a>
	</section>
	<sections id="touch">
		<div class="wrap">
			<a href="#">Get in touch <span>have project in mind</span></a>
		</div>
		<a href="#" id="cart"></a>
	</sections>
	<canvas id="canvas"></canvas>
	<script src="javascript/script.js"></script>
</body>
</html>