<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Elements</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<section id="banner">
		<div class="banner_front">
			<a href="#" class="logo"></a>
			<div class="translate">
				<button>en</button> | <button>ru</button>
			</div>
			<nav>
				<ul>
					<li>
						<a href="#">Main</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Portfolio</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<p class="author">
				Lorem ipsum dolor sit.
			</p>
		</div>
		<div class="banner_back">
			<ul class="slide">
				<li class="items">
					<p class="title">Css & Js <br><span>Developer 1</span></p>
				</li>
				<li class="items">
					<p class="title">Css & Js <br><span>Developer 2</span></p>
				</li>
				<li class="items active">
					<p class="title">Css & Js <br><span>Developer 3</span></p>
				</li>
			</ul>
			<div class="btn_ruls">
				<span class="left"><i>&#60</i></span>
				<span class="right"><i>&#62</i></span>
			</div>
			<ul class="slider_indicators">
				<li></li>
				<li></li>
				<li class="active"></li>
			</ul>
		</div>
	</section>
	<main>
		<header>
			<a href="#" class="logo"></a>
			<nav>
				<ul>
					<li><a href="">Main</a></li>
					<li><a href="">Main</a></li>
					<li><a href="">Main</a></li>
					<li><a href="">Main</a></li>
				</ul>
			</nav>
			<div class="translate">
				<button>en</button> | <button>ru</button>
			</div>
		</header>
		<section class="life_path">
			<div class="slider">
				<div class="slider_control">
					<button class="left">&#60</button>
					<button class="right">&#62</button>
				</div>
				<ul class="slider_body">
					<li class="slider_items active">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 1</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 2</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 3</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 4</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 5</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 6</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 7</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 8</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 9</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 10</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 11</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 12</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 13</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
					<li class="slider_items">
						<img src="images/gal_1.jpg" alt="">
						<figcaption>
							<p class="title">Gallery 14</p>
							<p class="about">Lorem ipsum dolor sit. <button>&#62</button></p>
						</figcaption>
					</li>
				</ul>
			</div>
		</section>
		<section class="portfolio">
			<div class="portfolio_rule">
				<button class='filter_port' data-type='all'></button>
				<ul>
					<li><button class='filter_port' data-type='all'>Menu</button></li>
					<li><button class='filter_port' data-type='all'>Menu</button></li>
					<li><button class='filter_port' data-type='all'>Menu</button></li>
					<li><button class='filter_port' data-type='all'>Menu</button></li>
				</ul>
				<button class='nav-rule'>
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
			<ul class="portfolio_elems">
				<li>
					<div class="cart">
						<img src="" alt="">
					</div>
					<div class="caption">
						<h1 class="title">Lorem ipsum dolor sit amet.</h1>
						<a href="/">Go to</a>
					</div>
				</li>
				<li>
					<div class="cart">
						<img src="" alt="">
					</div>
					<div class="caption">
						<h1 class="title">Lorem ipsum dolor sit amet.</h1>
						<a href="/">Go to</a>
					</div>
				</li>
				<li>
					<div class="cart">
						<img src="" alt="">
					</div>
					<div class="caption">
						<h1 class="title">Lorem ipsum dolor sit amet.</h1>
						<a href="/">Go to</a>
					</div>
				</li>
				<li>
					<div class="cart">
						<img src="" alt="">
					</div>
					<div class="caption">
						<h1 class="title">Lorem ipsum dolor sit amet.</h1>
						<a href="/">Go to</a>
					</div>
				</li>
				<li>
					<div class="cart">
						<img src="" alt="">
					</div>
					<div class="caption">
						<h1 class="title">Lorem ipsum dolor sit amet.</h1>
						<a href="/">Go to</a>
					</div>
				</li>
				<span>Read more <button>A</button></span>
			</ul>
		</section>
		<footer>
			<div>
				<ul class="social">
					<li>
						<a href="#">F</a>
					</li>
					<li>
						<a href="#">F</a>
					</li>
					<li>
						<a href="#">F</a>
					</li>
				</ul>
				<ul>
					<li>
						<ul>
							<li>Some text</li>
							<li>Some text</li>
							<li>Some text</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>Some text</li>
							<li>Some text</li>
							<li>Some text</li>
							<li>Some text</li>
							<li>Some text</li>
						</ul>
					</li>
				</ul>
			</div>
		</footer>
	</main>
	<script src="javascript/script.js"></script>
</body>
</html>